/* * {
    margin: 0;
    padding: 0;
} */

/* ------------------------------------
                common style
--------------------------------------- */
.body {
    font-family: 'Poppins';
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}



/* .main{
    display: flex;
    flex-direction: column;
    align-items: center;
} */


/*--------------------------------
                Header-nav
 -------------------------------*/
 header{

 }
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* justify-content: space-between; */
    /* margin-top: 87px;
    margin-left: 120px;
    margin-right: 120px; */

}

ul{
    display: flex;
    gap: 15px;
}
li{
    list-style: none;
}
/* .manu-item {
    display: flex;
    gap: 30px;
} */

/* .manu-icon {
    display: flex;
} */

/*------------------------------------------
                    Start your jurney
 ------------------------------------------*/
.start {
    margin-top: 80px;
}

.sec-camera-img img {
    width: 440px;
    height: 414px;
}

.start-container {
    display: flex;
    align-items: center;

}

/* .............................................
                            E-comarce logo  
................................................*/
.ecomarce{
    margin-top: 70px;

}
.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

/* ------------------------------------------------
                            Popular Collection 
--------------------------------------------------*/


.popular-title-container{
    text-align: center;
    margin-top: 100px;
    
}
.popular{
    display: flex;
    justify-content: center;
}


.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
}

.product-img img {
    width: 300px;
    height: 256px;
}
/*----------------------------------------------
                    Featured products
-----------------------------------------------*/
.featured-products {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.feature-container{
   display: flex;
   gap: 96px;
   
}
.product{
    box-shadow: 10px 10px 10px 10px grey;
}
/*-----------------------------------------------
                             footer-
------------------------------------------------- */
footer{
    margin-top: 100px;
    background-color: darkorchid;
}
.footer-container{
    /* display: grid;
    grid-template-columns: repeat(1,fr);
    justify-content: center;
    align-items: center; */
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

/*----------------------------------------------
        Responsive(media Quary)576px
---------------------------------------------- */
@media screen and (max-width: 0) {
    .navigation {
        /* width: 100%; */
        margin: 100%;
        background-color: blue;
    }
}